*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
	font-family: 'FontName'; 
	src: url(fonts/Comforter.otf); 
}
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;/*насыщенность шрифта*/
  line-height: 1.5;/*расстояние между строк*/
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(img/обои.jpg);
  background-attachment: fixed;
}
/*Шапка*/
header{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 1px 0 28px rgb(189, 189, 189)
  
}
/*Контейнер*/
.container {
  width: 100%;
  max-width: 1280px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.flex1,
.flex2 { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex3{
  display: flex;
  
  align-items: center;
  justify-content: space-evenly;
  flex-direction:column;
}

/*Подвал*/
footer{
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color:white;
  background: #43D0D0;
  font-size: 24px; 
  text-align: center;
}
/*Главная*/
main{
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
/* flex-контейнер */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* row c отступом*/
.recept{
  padding-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* CSS настройки flex-элементов */
.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
/* ширина блоков по умолчанию */
  .lef1t,.righ1t,.cente1r,
  .flex1,.flex2,.flex3
{
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}
@media (min-width: 360px) {

}
/* ширина блоков для больших экранов ширины контейнера*/
@media (min-width: 1280px) {
/*.lef1t {
  -ms-flex: 20%;
  flex: 20%;
  max-width: 20%;
}*/
.righ1t {
  -ms-flex:20%;
  flex: 20%;
  max-width: 20%;
}
.cente1r {
  -ms-flex: 80%;
  flex: 80%;
  max-width: 80%;
}

.flex1{
  -ms-flex: 20%;
  flex: 20%;
  max-width: 20%;
}
.flex2 {
  -ms-flex: 60%;
  flex: 60%;
  max-width: 60%;
}
.flex3 {
  -ms-flex: 20%;
  flex: 20%;
  max-width: 20%;
}


}
/*.lef1t {
  background-color: #fff8e1;
  font-size: 18px; 
  text-align: center;
  height: max-content;
}*/
.righ1t {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  height: max-content;
  padding-top: 15px;
  padding-bottom: 15px;

}
.cente1r{
  /* background-image: url(img/обои.jpg); */
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

}
.text1 {
  font-size: 20px; 
  text-align:center; 
  color:#D9D9D9;
  
  padding-bottom: 15px;
}
#headword_right{
  font-size: 48px; 
  font-weight: bold;
  font-family: 'FontName';
  letter-spacing: 5px;/*интервал между буквами*/


}
#headword{
  font-size: 48px; 
  font-weight: bold;
  font-family: 'FontName';
  letter-spacing: 5px;/*интервал между буквами*/
  padding-bottom: 10px;
  padding-top: 30px;
}
/*Содержание*/


body {
  color: #212529;
  text-align: left;
}


.item {
  flex: 0 1 calc(100%/3 - 20px*2);
  margin: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

div {
  display: block;
}

/*кнопка для вверха*/
.button1 {
  background-color: #43D0D0;
}

a.button1 {
  display: inline-block;
  color: rgb(255, 255, 255);
  width: 125px;
  height: 50px;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  text-align: center;
  outline: none;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0px 2px 15px rgba(97, 96, 96, 0.6);
  /* border: 2px solid #D9D9D9; */
  padding: 17px;
}

a.button1:hover {
  background: rgba(255, 255, 255, .2);
  color: #43D0D0;
}

a.button1:active {
  background: #ffffff;

}
/*картинки*/
.logo{
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(23, 23, 23, 0.6);
  border-radius: 100%;
  width: 140px;
  height: 140px;
}
.img2{
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(23, 23, 23, 0.6);
  width: 200px;
  height: 130px; 
}
.list1{
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(23, 23, 23, 0.6);
  width: 250px;
  height: 180px;
}
.i1{
  padding-top: 20px;
  background-color: #F4EDE3;
  padding-bottom: 20px;
}

.size {
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding: 5px; /* Поля */
  text-overflow: ellipsis; /* Многоточие */
}
.size:hover {
  background: rgb(255, 231, 199); /* Цвет фона */
  white-space: normal; /* Обычный перенос текста */
}
/*кнопка для вверха*/
.button1{
  background-color: #43D0D0;
}
a.button1 {
  display: inline-block;
  color: rgb(255, 255, 255);
  width: 125px;
  height: 60px;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  text-align: center;
  outline: none;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0px 2px 15px rgba(97, 96, 96, 0.6);
  /* border: 2px solid #D9D9D9; */
  padding: 17px;
}
a.button1:hover{
  background: rgba(255, 255, 255, .2);
  color: #43D0D0;
}
a.button1:active{
  background: #ffffff;
  
}
/*подвал*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*Авторизация*/
.gif1 {
  display: block;/* Устанавливаем */
  width: 60px;/* Ширина и высота картинки */
  height: 60px;
  background: url(img/login.png) no-repeat;/* Заливаем блок статичной картинкой */
}
  /* Как видно, начальное (статическое) изображение задано как фон блока с шириной и высотой этого изображения. */
a.gif1 img {
  visibility: hidden;/* Aнимация не была видна в ситуации, когда мышь не наведена */
}
a.gif1:hover {
  background: none;/* Фон (статичное изображение) не было видно при наведении мыши */
}
a.gif1:hover img {
  visibility: visible;/* При наведении анимация показывается */
  border: 0;/* без обрамления ;) */
}
/*Вход*/
.gif2 {
  display: block;
  /* Устанавливаем */
  width: 44px;
  /* Ширина и высота картинки */
  height: 44px;
  background: url(img/enter1.png) no-repeat;
  /* Заливаем блок статичной картинкой */
}

/* Как видно, начальное (статическое) изображение задано как фон блока с шириной и высотой этого изображения. */
a.gif2 img {
  visibility: hidden;
  /* Aнимация не была видна в ситуации, когда мышь не наведена */
}

a.gif2:hover {
  background: none;
  /* Фон (статичное изображение) не было видно при наведении мыши */
}

a.gif2:hover img {
  visibility: visible;
  /* При наведении анимация показывается */
  border-radius: 40px;
  /* без обрамления ;) */

}